@{
    ViewData["Title"] = "Home Page";
}

<div data-role="page" class="index-page main-page" id="index" data-url="index">
    <div data-role="main" class="ui-content ui-content-cbox screen-width index">
        <div class="page-container index-container">
            <div class="text-center">
                <h1>Velkommen til lunchbox</h1>
                <div class="header-resume" style="padding-top: 0px;">Har du eller dit firma har brug for noget rigtig lækkert til frokost, som er godt for krop og sjæl, er du kommer til det helt rigtig sted. Vælg fra listen neden under hvor du gerne ville have det fra.</div>
            </div>
            <!--<div class="main-title"><i class="fa fa-newspaper"></i> Nyheder</div>-->
            <div class="bs-docs-section">
                <div class="news">
                    <div class="news-items">
                        <div class="news-item active">
                            <div class="news-infobox">
                                <div class="news-headline">Live på vores nye side endeligt</div>
                                <div class="news-subtitle">Hvis du har svært ved bruge systemet, må du gerne skrive til os. info@lunchbox.dk. tak</div>
                            </div>
                            <div class="news-bg" style="background-image: url('/images/newsSlider/slide1.png');"></div>
                        </div>
                        <div class="news-item">
                            <div class="news-infobox">
                                <div class="news-headline">Sund frokost</div>
                                <div class="news-subtitle">Er godt for alle :)</div>
                            </div>
                            <div class="news-bg" style="background-image: url('/images/newsSlider/slide2.jpg');"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
     </div>
</div>
