<div class="content" fxLayoutAlign="center stretch">
  <div class="main" fxFlex="100" fxFlex.gt-sm="940px" fxLayout="column" fxLayoutAlign="space-between stretch"> <!-- set 940px to small screen -->

    <div fxLayoutAlign="space-between center" class="lb-carousel">
      <lb-carousel [slides] = "slides" [autoPlay] = "true" [indicatorVisible] = "true" [showTitle] = "true"></lb-carousel>
    </div>

    <div fxLayoutAlign="space-between center" class="main-header">Leverandør</div>
    <store-list></store-list>
  </div>
</div>
