/* You can add global styles to this file, and also import other style files */
/* Global reset */
html, body, span, label {
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
  }

  a{
    cursor: pointer;
    display: block;
  }
  
  body{
    background-image: url(https://www.lunchbox.dk/assets/images/bg.jpg);
    background-position: top;
    background-size: cover;
  }

  .main-header{
    font-size: 20px;
    background-color: #4caf50;
    width: 100%;
    height: 44px;
    color: #ffffff;
    padding: 8px;
    margin-bottom: 4px;
  }

  hr{
    margin-top: 4px;
    margin-bottom: 2px;
    color: #ffffff;
  }
  
 .item {
    margin: 4px;
    text-align: left;
    overflow: hidden;
  }
  
  .content .main{
    background-color: #ffffff;
    margin-bottom: 30px;
    padding: 10px;
  }

  .mobile-layout{
    display: flex;
    flex-direction: column;
  }

  .mobile-layout .main-wrapper{
    margin-bottom: 0px !important;
  }

  .mobile-layout app-menu{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
  }

  .mobile-layout app-menu .menu{
    display: flex;
    width: 100%;
  }
  
  .mobile-layout app-menu .menu .menu-item{
    flex-grow: 1;
    text-align:center;
  }

  .mobile-layout .logo{
    margin-top: 10px;
  }

  .default-layout app-menu .menu{
    margin-right: 14px;
  }

  .mobile-layout .main{
    flex-direction: column !important;
  }

