@{
    ViewBag.Title = "Access denied";
}

<div data-role="page" class="index-page main-page" id="index" data-url="index">
    <div data-role="main" class="ui-content ui-content-cbox screen-width index">
        <div class="page-container index-container">
            <div class="text-center">
                <h1>Velkommen til lunchbox - Admin</h1>
            </div>
            <div>
                <h2>Access denied</h2>
            </div>
        </div>
    </div>
</div>