* {
  box-sizing: border-box;  /* include the padding and border in an element's total width and height */
  margin: 0;
  padding: 0;
}

body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

body {
  background-image: url(http://www.lunchbox.dk/assets/images/bg.jpg);
  background-position: top;
  background-size: 100% 894px;
}

body, #root{
  
 
}
.grid-container{
  display: grid;
  grid-template-rows: 6.75rem 2.25rem 1fr;
  grid-template-areas:
            "header-area"
            "navigation-area"
            "main-area";
}

a{
  text-decoration: none;
}

header-container {
  grid-area: header-area;
  background-color: #005984;
}

navigation-container {
  grid-area: navigation-area;
  background-color: #4caf50;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 50%);
  z-index: 0;
}

main-container {
  grid-area: main-area;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 30px;
  width: 940px;
}

.main-inner-wrapper{
  display: flex;
  gap: 1rem;
  max-width: 58rem;
}

.main {
  flex: 1 0 auto;
  margin-left: 10px;
}

.cart {
  background-color: yellow;
  width: 310px;
}

.cart .sign{
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 25px;
  cursor: pointer;
  margin-right: 4px;
  padding: 2px 0;
}

.header-wrapper{
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;                /* wrap: new line if no place in current place */             
  align-items: center;
  justify-content: space-between;  /* horisontal(x axis) align */
  height: 100%;
}

.header-wrapper > div{          /* first child */
  flex: 1;
}

.header-wrapper .back {
  display: none;
}

.header-wrapper .logo img{
  height: 4.68rem;
  border: 0;
}

.header-wrapper .memebership {
  align-self: flex-end;         /* vertical(y axis) place bottom */
  text-align: right;            /* align */
  padding-bottom: 4px;
}

.header-wrapper .memebership a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}

.main-header{
  text-align: center;
  text-align: center;
  font-size: 23px;
  color: #000000;
  margin: 20px 0 10px 0;
  font-weight: bold;
}

.product-list-wrapper li{
  list-style-type: none;
  border-bottom: 1px solid rgb(178, 178, 178);
}

.product-list.header{
  background-color: #005984;
  font-size: 20px;
  line-height: 40px;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 20px;
  color: white; 
  border-bottom: 0;  
}

.product-list.header .icon img {
  height: 40px;
  width: 60px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: top;
  margin-right: 10px;
}

.product-list.item{
  font-size: 14px;
  padding: 10px 0 10px 10px;
  color: #333;
  display: flex;
}

.product-list .name{
  flex: 1 1 auto;
}

.product-list .price{
  width: 50px;  
}


.main-title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: normal;
  color: white;
  background-color: #4caf50;
  padding: 8px;
  font-weight: 500;
  text-shadow: none;
}

nav{
  margin: 0 auto;
  width: 940px;
  display: flex;
  justify-content: flex-end;
}

nav ul{
  list-style: none;
  display: flex;
}

nav ul li{
  margin-left: 15px;
  padding: 0 5px;
}

nav ul li a{
  line-height: 36px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 0 2px;
  color: white;
  text-shadow: none;
  font-weight: normal;
}

nav ul li:hover{
  background-color: #005984;
}

.fa, .fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.fa-receipt:before {
  content: "\f543";
}

.fa-utensils:before {
  content: "\f2e7";
}

.fa-info-circle:before {
  content: "\f05a";
}

/* animation logo */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
	color: #ffffff;
	font-size: 7px;
	margin: 0px auto;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

/* TABLET MEDIA QUERY */
 @media screen and (max-width: 950px) {
  .grid-container{
    grid-template-rows: 3rem 2.25rem 1fr;
  }

  main-container{
    width: 100%;
  }

  .cart {
    margin-top: 20px;;
    width: 100%;
  }

  .main-inner-wrapper {
    flex-direction:column;    /* vertical(y axis) */
    gap: 0rem;
  }

  .header-wrapper{
    justify-content: center;   /* horizontally center(x axis) */
  }

  .header-wrapper .back {
    display: block;
  }

  .header-wrapper .logo {
    text-align: center;
  }

  .header-wrapper .logo img{
    height: 2.5rem;
    border: 0;
  }
  .header-wrapper .memebership {
    align-self: center;   /* vertical center(y axis) */
    text-align: right;
  }
}

/* MOBILE MEDIA QUERY */
@media screen and (max-width: 690px) {
 
}

.form{
  margin: 20px;
}

.form .title {
  text-align:center
}

.form p{
  font-size: 12px;
  margin: 15px 0;
}

.form .submitbtn{
  background-color: #4CAF50;
  padding: 15px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-weight: normal;
  text-shadow: none;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

/* forms */
input[type="text"], input[type="tel"], input[type="email"], input[type="password"], select, textarea, input a, a:visited {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 5px 0;
  line-height: 30px;
  font-size: 14px;
  box-shadow: none !important;
  height: 34px;
}
